//@import 'styles/scss/variables';

select {
  width: $select-width100;
  padding: 8px;
  border: 1px 0px 1px 1px solid #ccc;
  border-radius: 4px 0px 0px 4px;
  background-color: #fff;
  font-size: $select-fz16;
  color: #333;
  cursor: pointer;

  &:hover {
    border-color: #999;
  }

  &:focus {
    outline: $select-none;
    border-color: $select-none;
    box-shadow: $select-none;
  }
}