.organismquoter{
  display: flex;
  justify-content: center;
  width: 100%;
  &__content{
    max-width: $max-width-content;
    width: 100%;
    text-align: center;
    &--title{
      display: flex;
      justify-content: center;
      margin-bottom: 32px;
      &-center{
        width: 100%;
        max-width: 540px;
      }
    }
    & .atomicTitle{
      h1{
        font-family: $font2;
        font-size: $fz-40;
        font-weight: $fw-bold;
        letter-spacing: $s06;
      }
    }
    & .atomicdescription{
      max-width: 100%;
      white-space: nowrap;
      margin-bottom: 0;
      color:$N700;
    }
    & h1{
      max-width: none;
    }
    &-group{
      display: flex;
      flex-direction: column;
      &--select{
        display:flex;
        flex-direction: row;
        gap:$s32;
        justify-content: $center;
        margin-bottom: $s20;
      }
      &--options{
        display:none;
        &-content{
          display: flex;
          flex-direction: row;
          gap:$s32;
          justify-content: $center;
        }
        &.show{
          display:block
        }
        &.hide{
          display: none;
        }
      }
    }

  }
}


@media ($mmx: $brp) {
  .organismquoter{
    padding:32px 24px;
    box-sizing: border-box;
    & .atomicTitle{
      h1{
        text-align: left;
        font-size: $s28;
        line-height: $s36;
        letter-spacing: $s02;
      }
    }
    & .atomicdescription{
      white-space:unset;
      text-align: $left;
      line-height: $s28;
      font-size: $fz-16;
    }
    &__content{
      &-group{
        &--select{
          flex-direction: column
        }
        &--options{
          &-content{
            flex-direction: column
          }
        }
      }
    }
  };
}