


/*   &__content{
    width: 100%;
    max-width: 1360px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    & img{
      width: 85px;
      height: 42px;
    }
    & p{
      color:$grey-10;
      font-family: $font1;
      font-size: $fz-14;
      font-weight: $fw-normal;
      margin: $s0;
    }
  }
 */

/* .content{
  &__right{
    &--form{
      &AtomicPill {
        margin-bottom: 34rem;
      }
    }
  }
}
 */
